<div class="header">
  <h1>{{ 'header.title' | transloco }}</h1>
  <div class="lang-switch">
    <span class="switch-button"
          tabindex="0"
          (click)="switchLanguageTo('en')"
          (keyup)="switchLanguageTo('en')"
          [ngClass]="{'activeLang': isActive('en')}">en</span>
    <span>|</span>
    <span class="switch-button"
          tabindex="1"
          (click)="switchLanguageTo('de')"
          (keyup)="switchLanguageTo('en')"
          [ngClass]="{'activeLang': isActive('de')}">de</span>
  </div>
</div>
