@use "mixins/typography"

@import "main"

div.header
  @include typography.prevent-select
  position: absolute
  display: inline-flex
  justify-content: space-between
  top: 0
  left: 0
  right: 0
  height: $header-height
  background-color: $primary
  cursor: default

  h1
    @include typography.default
    color: $tertiary
    line-height: $header-height
    height: $header-height
    font-size: calc($header-height / 4)
    display: inline-block
    text-transform: uppercase

  div.lang-switch
    @include typography.default
    display: inline-block
    right: 5pt
    background-color: $primary
    color: $secondary
    height: $header-height

    span
      display: inline-block
      height: $header-height
      line-height: $header-height
      margin: 0

    span.switch-button
      padding: 0 5pt 0 5pt
      cursor: pointer

    span.switch-button:hover
      color: $tertiary
      text-decoration: underline

    span.switch-button:active
      color: $tertiary
      background-color: $accent

    span.switch-button.activeLang
      color: $tertiary
      cursor: default
