@use "mixins/typography" as typography;
@use "variables" as vars;

div.header {
  @include typography.prevent-select;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-content: center;
  vertical-align: center;
  top: 0;
  left: 0;
  right: 0;
  height: vars.$header-height;
  background-color: vars.$primary;
  cursor: default;

  h1 {
    @include typography.default;
    color: vars.$tertiary;
    line-height: vars.$header-height;
    height: vars.$header-height;
    font-size: calc(#{vars.$header-height} / 4);
    display: inline-block;
    text-transform: uppercase;
    padding-left: 10pt;
  }

  div.lang-switch {
    @include typography.default;
    display: inline-block;
    background-color: vars.$primary;
    color: vars.$secondary;

    // TODO scss: find better way for vertical align
    a.switch-button {
      @include typography.default;
      display: inline-block;
      color: vars.$secondary;
      padding: 5pt;
      margin: 11pt 5pt 0 0;
      cursor: pointer;
      border: 2pt solid vars.$primary;
      border-radius: 1pt;

      &.double-right-margin {
        margin-right: 10pt
      }

      &:hover {
        color: vars.$tertiary;
        border: 2pt solid vars.$secondary;
      }

      &:active {
        color: vars.$tertiary
      }

      &.activeLang {
        color: vars.$tertiary;
        cursor: default;
        background-color: vars.$secondary;
        border: 2pt solid vars.$secondary;
      }
    }
  }
}
