<div class="header">
    <h1>{{ 'header.title' | transloco }}</h1>
    <div class="lang-switch">
        <a class="switch-button"
           tabindex="0"
           (click)="switchLanguageTo('en')"
           (keyup)="switchLanguageTo('en')"
           [ngClass]="{'activeLang': isActive('en')}">en</a>
        <a class="switch-button double-right-margin"
           tabindex="1"
           (click)="switchLanguageTo('de')"
           (keyup)="switchLanguageTo('en')"
           [ngClass]="{'activeLang': isActive('de')}">de</a>
    </div>
</div>
