@import "global/colors"
@import "global/layout"

div#toolbar
  position: absolute
  display: block
  top: $header-height
  left: 0
  right: 0
  height: calc($header-height / 2)
  background-color: $secondary
