@import "variables";

div.toolbar {
  tab-index: -1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: $header-height;
  left: 0;
  right: 0;
  height: $toolbar-height;
  background-color: $secondary;
  box-shadow: rgba(38, 38, 185, 0.35) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  z-index: 100;

  button.mat-mdc-button {
    border: 0;
    display: inline-block;
    color: white;
    padding: 0 10pt 0 10pt;
    height: $toolbar-height;

    &:hover, active {
      color: $primary;
      background-color: $accent-bright;
    }
  }
}

