$header-height: 50pt
$toolbar-height: 30pt
$option-pane-width: 215pt

$primary: #101010
$primary-bright: #262626
$secondary: #2626b9
$tertiary: #fff
$accent: #404040
$accent-dark: #463A05FF
$accent-bright: #ffd617

.tertiary
  color: $tertiary

// TODO find a way to put that to map.component.sass
*.leaflet-container
  font-family: Roboto, Arial, sans-serif

a.leaflet-control-zoom-in
  color: $secondary
  border-bottom: 2pt solid $accent

a.leaflet-control-zoom-out
  border-bottom: 0

a.leaflet-control-zoom-in.leaflet-disabled,
a.leaflet-control-zoom-in.leaflet-disabled:hover,
a.leaflet-control-zoom-out.leaflet-disabled,
a.leaflet-control-zoom-out.leaflet-disabled:hover
  background-color: $primary
  color: $accent

a.leaflet-control-zoom-in,
a.leaflet-control-zoom-out
  font-family: Roboto, Arial, sans-serif
  background-color: $primary
  color: $secondary

  &:hover
    background-color: $secondary
    color: $tertiary

div.leaflet-popup-content-wrapper
  border-radius: 3pt

div.leaflet-popup-content-wrapper,
div.leaflet-popup-tip
  background-color: $accent-bright
  color: $primary
  border: 0

div.leaflet-popup-content
  text-align: center
  margin: 5pt

div.leaflet-container div.leaflet-control-attribution
  background-color: $primary

  a
    color: $secondary
    opacity: .8
