@use "theme";

@import "variables";
@import "notifications";
@import "leaflet";

.tertiary {
  color: $tertiary;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
