@use "theme";
@use "notifications";
@use "variables" as vars;

.tertiary {
  color: vars.$tertiary;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
