@use "variables" as vars;

.mat-mdc-snack-bar-container {
  .toast {
    box-shadow: none;
    font-size: 10pt;

    &:hover {
      box-shadow: none;
    }

    .toast-message p strong {
      display: block;
      margin-bottom: 5pt;
      font-size: 13pt !important;
    }
  }

  &.warning {
    --mat-snack-bar-container-color: #{vars.$accent-bright} !important;

    * {
      color: vars.$primary
    }
  }

  &.info {
    --mat-snack-bar-container-color: #{vars.$secondary} !important;
  }
}

