@use '@angular/material' as mat;

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@include mat.core();

$dark-app-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$amber-palette),
      accent: mat.define-palette(mat.$amber-palette),
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

@include mat.slide-toggle-theme($dark-app-theme);
@include mat.slider-theme($dark-app-theme);

.mat-mdc-slide-toggle {
  label.mdc-label {
    margin-left: 10pt;
  }
}
