$header-height: 50pt;
$toolbar-height: 30pt;
$option-pane-width: 40pt;
$option-pane-width-expanded: 250pt;

$primary: #101010;
$primary-bright: #131313;
$secondary: #2626b9;
$tertiary: #fff;
$accent: #404040;
$accent-dark: #463A05FF;
$accent-bright: #ffd617;
$dark-matter-bg: #262627;
