name: Build feature

on:
  push:
    branches: ["feature/**"]

jobs:
  build-dist:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        node-version: [24.11.1]

    steps:
      - uses: actions/checkout@v6

      - uses: jessehouwing/actions-semver-checker@v1
        with:
          check-minor-version: true

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Lint
        run: npm run lint

      # TODO ci: find a way to configure URL at runtime
      - name: Build
        run: |
          npm run build -- --configuration=production --base-href=/european-geo-information/
